<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ipcalink">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_ipca_link"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_ipca_link"
        android:supportsRtl="true"
        android:theme="@style/Theme.IpcaLink">
        <activity
            android:name=".messages.NewGroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".messages.NewMessageActivity"
            android:exported="false" />
        <activity
            android:name=".messages.FilesActivity"
            android:exported="false" />
        <activity
            android:name=".messages.PrivateChatProfileQuickView"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".messages.PrivateChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".login.BoardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".calendar.AddEventActivity"
            android:exported="false" />
        <activity
            android:name=".login.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".calendar.EventsAddGroupsActivity"
            android:exported="false" />
        <activity
            android:name=".calendar.EditEventActivity"
            android:exported="false" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/gfg" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/purple_700" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>